// variables
$heading-color: #444;
$primary-color: #4f9c40;
$highlight-color: #d13267;
$text-color: #eeeded;

@media only screen and (max-width: 480px) {
  //fitness class PAGE

  .fitness-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;

    .workout-filter {
      border: solid 1px rgba($color: $text-color, $alpha: 0.1);
      padding: 12px;
      border-radius: 20px;
      background-color: rgba($color: $text-color, $alpha: 0.1);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 4%;
      width: 80%;
      margin-bottom: 5px;
      margin-top: 12px;

      p {
        color: $text-color;
        font-size: 1rem;
        font-weight: bolder;
        letter-spacing: 0.1rem;
        border: 0;
        padding-right: 12px;
        border-right: 3px solid #eeeded;
      }

      button {
        background: transparent;
        color: $text-color;
        font-weight: 500;
        cursor: pointer;
        border: 0;
        border-right: 1px solid #eeeded80;
        padding-right: 12px;
        padding-left: 12px;
        font-size: 1rem;
      }

      button:last-child {
        border: 0;
      }
      button.active {
        text-shadow: $text-color 0px 0px 10px;
      }
    }

    .workouts {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;

      .workout-card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;

        p {
          font-size: 1rem;
          color: $text-color;
          letter-spacing: 0.1rem;
        }

        .workout {
          border: solid 1px rgba($color: $text-color, $alpha: 0.1);
          background-color: rgba($color: $text-color, $alpha: 0.1);
          padding: 12px;
          border-radius: 20px;
          box-shadow: $text-color 0px 0px 3px;
          margin: 10px 0 10px 0;
          width: 80%;
          display: flex;
          justify-content: space-between;

          .details {
            h2 {
              font-size: 1rem;
              color: $text-color;
              text-transform: uppercase;
              font-weight: bolder;
              letter-spacing: 0.1rem;
              border-bottom: 1px solid #eeeded80;
            }
            .coach {
              font-size: 0.7rem;
              color: $text-color;
              letter-spacing: 0.1rem;
            }

            .time-and-date {
              font-size: 1rem;
              color: $text-color;
              letter-spacing: 0.1rem;
            }
          }

          .add-and-remove-class {
            display: flex;
            flex-direction: column;
            justify-content: center;

            .btn {
              margin: 5px;
              padding: 7px;
            }

            img {
              width: 18px;
            }
          }
        }
      }
    }
  }
}
