// variables
$heading-color: #444;
$primary-color: #4f9c40;
$highlight-color: #d13267;
$text-color: #eeeded;

@media only screen and (max-width: 480px) {
  //fitness class PAGE

  .fitness-class-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    margin: 20px 0 20px 0;
    height: 100%;

    .day-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px auto;

      .day {
        display: flex;
        height: 50vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid $text-color;
        background-color: rgba($color: $text-color, $alpha: 0.2);
        padding: 5px;
        border-radius: 12px;
        margin: 5px 0 5px 0;
        width: 90%;
      }
    }

    //fitness class Schedule page
    .fitness-class-schedule {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        color: $text-color;
        font-size: 2rem;
        margin-bottom: 11px;
      }

      .class-details {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;

        .title-time-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: 1px solid $text-color;
          background-color: rgba($color: $text-color, $alpha: 0.2);
          padding: 5px;
          border-radius: 12px;
          margin: 9px;
          width: 90%;

          p {
            color: $text-color;
            font-size: 1.5rem;
          }

          img {
            width: 25px;
            background-color: $text-color;
            padding: 2px;
            border-radius: 7px;
            box-shadow: $text-color 0px 0px 5px 0px;
          }
        }
      }
    }
  }
}
