// variables
$heading-color: #444;
$primary-color: #4f9c40;
$highlight-color: #d13267;
$text-color: #eeeded;

.profile-info-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .profile-image {
    margin-bottom: 20px;

    img {
      border-radius: 10px;
      box-shadow: $text-color 0px 0px 10px;
    }
  }

  .profile-btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2 {
    color: $text-color;
    font-weight: bold;
    text-align: center;
    margin: 20px 10px 20px 10px;
    font-size: 3rem;
    border: 3px solid $text-color;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba($color: $text-color, $alpha: 0.2);

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  .btn {
    width: 40%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;
  }
}

//profile update form
.update-container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .update-form-label {
      margin: 5px;
      width: 90%;
      border: 3px solid $text-color;
      padding: 5px;
      text-align: center;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba($color: $text-color, $alpha: 0.2);

      p {
        font-size: 1.5rem;
        font-weight: bold;
        color: $text-color;
        margin-bottom: 10px;
      }

      span {
        font-size: 1rem;
        font-weight: bold;
        color: $text-color;
        font-style: italic;
      }

      input {
        width: 80%;
        margin: 3px;
      }

      input[type='file'] {
        text-align: center;
        margin: 5px auto;
        color: $text-color;
        border: none;
        font-weight: bold;
      }

      input[type='file']::file-selector-button {
        border-radius: 10px;
        background-color: $primary-color;
        color: $text-color;
        font-weight: 700;
        padding: 5px;
        margin-right: 10px;
        border: none;
      }

      img {
        border-radius: 50px;
        height: 200px;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .profile-info-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .profile-image {
      margin-bottom: 13px;

      img {
        border-radius: 10px;
        box-shadow: $text-color 0px 0px 10px;
      }
    }

    .profile-btns {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      color: $text-color;
      font-weight: bold;
      text-align: center;
      margin: 20px 10px 20px 10px;
      font-size: 3rem;
      border: 3px solid $text-color;
      padding: 10px;
      border-radius: 10px;
      background-color: rgba($color: $text-color, $alpha: 0.2);

      span {
        font-size: 1.5rem;
        font-weight: bold;
      }
    }

    .btn {
      width: 40%;
      height: 35px;
      margin: 10px;
      border-radius: 10px;
    }
  }

  //profile update form
  .update-container {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .update-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .update-form-label {
        margin: 5px;
        width: 90%;
        border: 3px solid $text-color;
        padding: 5px;
        text-align: center;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba($color: $text-color, $alpha: 0.2);

        p {
          font-size: 1.5rem;
          font-weight: bold;
          color: $text-color;
          margin-bottom: 10px;
        }

        span {
          font-size: 1rem;
          font-weight: bold;
          color: $text-color;
          font-style: italic;
        }

        input {
          width: 80%;
          margin: 3px;
        }

        input[type='file'] {
          text-align: center;
          margin: 5px auto;
          color: $text-color;
          border: none;
          font-weight: bold;
        }

        input[type='file']::file-selector-button {
          border-radius: 10px;
          background-color: $primary-color;
          color: $text-color;
          font-weight: 700;
          padding: 5px;
          margin-right: 10px;
          border: none;
        }

        img {
          border-radius: 50px;
          height: 100px;
        }
      }
    }
  }
}
